main{
    border-radius: 10px;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 10px;
    grid-template-areas: 
    "article1 aside1"
    "article2 aside2";
}

aside:nth-of-type(1){
    grid-area: aside1;    
}

aside:nth-of-type(2){
    grid-area: aside2;    
}

article:nth-of-type(1){
    grid-area: article1;
}

article:nth-of-type(2){
    grid-area: article2;
}

footer{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-areas: 
    "p ul"
}

footer p{
    grid-area: p;
}

footer ul{
    grid-area: ul;
}